body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
/* Reusable Class */
.flexible {
  display: flex;
}
.pl-pr {
  padding: 0px 15%;
}
.primary-color {
  color: #27ae60;
}
.btn {
  text-decoration: none;
  background-color: #27ae60;
  color: #fff;
  padding: 12px;
  border-radius: 5px;
}
.pra-tb {
  line-height: 1.5;
  margin: 40px 0px;
}
.pt-pb {
  padding-top: 50px;
  padding-bottom: 50px;
}
.m-heading {
  font-size: 36px;
}
/* Focus banner */
.focus-banner {
  padding-top: 100px;
  padding-bottom: 100px;
}
.focus-text {
  width: 50%;
}
.focus-text h1 {
  font-size: 60px;
  font-family: "Yeseva One", cursive;
  line-height: 1.4;
  border-left: 5px solid #27ae60;
  padding-left: 20px;
}
.focus-text p {
  margin-top: 30px;
}
.person-img {
  width: 50%;
}
.person-img img {
  width: 60%;
  display: block;
  margin: auto;
}
/* My Misson */
.my-mission h1 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
.my-mission .mission-item {
  width: 35%;
  padding: 25px;
  background: #edf5f6;
  border-radius: 5%;
  margin: 0px 2%;
}
.my-mission .mission-item img {
  width: 140px;
}
.my-mission .mission-item h3 {
  font-size: 24px;
}
.my-mission .mission-item p {
  margin: 15px 0px;
}
#missionbg-2 {
  background: #ffeeee;
}
#missionbg-3 {
  background: #fff4d6;
}
/* Develop */
.develop-img {
  width: 40%;
}
.develop-img img {
  width: 80%;
}
.develop-text {
  width: 60%;
}
/* Community*/
.com-text {
  width: 60%;
  padding-right: 60px;
}
.com-img {
  width: 40%;
  padding-left: px;
}
.com-img img {
  width: 80%;
}
footer {
  background: #000;
  color: #fff;
  padding: 20px 0px;
  text-align: center;
}
footer h2 {
  font-family: "Lobster";
}
footer p {
  margin: 0;
}
